body{
    font-family: 'Poppins', sans-serif;
    color:  blueviolet;
    margin:0;
}

h1{

    font-size: 70px;
    
    line-height: 40px;
}

p{
    color: lightslategrey;
   
    line-height: 40px;
    font-size: 30px;
}

.blue-color{
    color:blue;

}

.flexible{
    display: flex;
    margin-bottom: 150px;
}

.width-reduce{
    width: 50%;
    padding-left: 8%;
    padding-top: 10%;
  
}

.width-reduce img{
width: 70%;

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 30px 60px;
    color: white;
    font-weight: 800;
    border-radius: 50px;
    line-height: normal;

}

h2{

    font-size: 30px;
    
    line-height: 40px;
}

.second-sec{
    font-weight: 200;
    font-size: 20px;
}

.side-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;


}

.center{
    text-align: center;
}

.black-color{
    color: black;
    font-size: 25px;
}

.img-border{
    border-radius: 10%;
    height: 200px;
    width: 300px;
    box-shadow: 5px 10px 30px gray;
} 
.position{
    text-align: center;
    margin: 0px auto;
    display; block;
    font-size: 50px;
    font-weight: 700;
}
pre{
    text-align: center;
    font-size: 35px;

}
.footer-color{
    color: blueviolet;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    background-color: greenyellow;
    border: greenyellow;
    left: 0;
    bottom: 0;
    width: 100%;
    display: block;


}